@import 'menu.scss';


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

:root {
  --background: #E3E2DF;
  --primary: #9A1750;
  --light-primary: #EE4C7C;
  --secondary: #EE4C7C;
  --darkred: #5D001E;
  --lightgrey: #E3E2DF;
  --lightpink: #E3AFBC;
  --darkpink: #9A1750;
  --pink: #EE4C7C;
  --lancelot: lancelot, 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --lora: Lora, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial;
  --noto: 'Noto Sans HK', Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-color: var(--background);
  font-family: var(--lora);
  color: var(--primary);
  min-height: 100%;  
}
p {
  line-height: 1.5;
}
a {
  color: var(--pink);
}
footer {
  width: 100%;
  background-color: var(--lightpink);
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}
div.App {
  min-height: 100vh;
  position: relative;
}
div.container {
  min-height: 100%;
  padding: 3rem 0.5rem;
}
div.section {
  h1 {
    font-family: var(--lancelot);
    font-size: 3rem;
  }
  span.lancelot {
    font-family: var(--lancelot);
    font-size: 1.4rem;
    color: var(--secondary);
    font-style: italic;
    margin-left: 1rem;
  }
  p.intro {
    margin: 2rem 0;
  }
  div.icons {
    a {
      color: var(--primary);
      margin-right: 0.5rem;
      transition: all 0.2s ease-in;
      font-size: 1.5rem;
      &:hover {
        color: var(--light-primary);
      }
    }
  }
  &.introduction {
    img {
      display: block;
      margin: 0.5rem auto;
      width: 100%;
      max-width: 13rem;
      border-radius: 50%;
      margin-bottom: 0;
    }
    p {
      margin: 1rem;
      
    }
    div.techniques {
      margin: 1rem;
      i {
        display: inline-block;
        width: 4.5rem;
        font-size: 4rem;
        margin: 0 0.5rem;
        color: var(--primary);
      }
    }
  }
  div.projects {
    display: block;
    margin: 1rem auto;
    div.project-card {
      margin: 1rem 0;
      padding-bottom: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      img {
        max-width: 100%;
        &:hover {
          opacity: 0.8;
        }
      }
      div.card-info {
        padding: 0 0.2rem;
        margin: 0.5rem;
        p {
          margin: 0 0.5rem;
          margin-bottom: 0.5rem;
          &.stack{
            display: block;
            margin: 0 auto;
          }
          i {
            font-size: 2.5rem;
            margin-right: 0.5rem;
          }
        }
        div.links {
           overflow: hidden;
          a {
            color: var(--pink);
            font-size: 1.2rem;
            margin-left: 0.5rem;
            float: right;
            transition: 0.3s all ease-in;
            &:hover {
              color: var(--lightpink);
            }
          }
        }
      }
    }
  }
  div.contact-cards {
    margin: 0 0.5rem;
    .contact-card {
      margin: 0.5rem 0;
      i {
        color: var(--pink);
      }
    }
  }
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
@import 'responsive.scss';